.sts-login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.sts-login-box {
    width: 400px;
    margin: 0 auto;
}

.sts-login-box .footer {
    width: 100%;
    left: 0;
    right: 0;
}

.sts-login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverForm {
    display: none;
}

.sts-login-sidebar {
    padding: 0;
    margin-top: 0;
}

.sts-login-sidebar .login-box {
    right: 0;
    position: absolute;
    height: 100%;
}

.sts-card {
    margin-bottom: 30px;
}

